<h1>Collection#show</h1>
<h3><%= @user.name %>'s Collection</h3>
<p>Find me in app/views/collection/show.html.erb</p>


<div class="row">
  <div class="col-md-8" style="border: 1px solid;">
  <% @collections.each do |collection| %>
      <div class="media panel">
        <div class="media-left votes">
          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-up"></span>
          </button>
          <span class="badge">4</span>
          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-down"></span>
          </button>
        </div>

        <div class="media-left smol">
          <a href='/show?q=<%= collection.movie_id %>'>
            <img class="list-object" src="<%= collection.movie_poster %>" alt="<%= collection.movie_title %>">
          </a>
        </div>

        <div class="media-body">
          <h4 class="media-heading"><%= collection.movie_title %></h4>
          <%= collection.movie_plot %>
        </div>
      </div>
  <% end %>
</div>

  <div class="col-md-4" style="background-color: lightcyan">
    <section>
      Browse other users' collections
      <ul>
    <% @users.each do |user| %>
      <li>
        <a href="/collections/<%= user.id %>">
          <%= user.name %>
        </a>
      </li>
    <% end %>
  </ul>
  </section>
  </div>
</div>
