<h1>Collection#show</h1>
<h3><%= @user.name %>'s Collection</h3>
<p>Find me in app/views/collection/show.html.erb</p>

<% if !current_user %>
<div>
  <h4>Log in to vote on <%= @user.name %>'s movies!</h4>
  <%= link_to "Login with Facebook!", "/auth/facebook", class: "btn btn-default" %>
  <%= link_to "Login with Twitter!", "/auth/twitter", class: "btn btn-default" %>
<% end %>
</div>
<br>

<%= render "partials/collection" %>
