<div class="row">

  <div class="col-sm-9 col-md-8 col-md-offset-1">
    <div>
      <% if @collections.count == 0 %>
        <%= image_tag("nothinghere.jpg", class: "img-responsive") %>
      <% else %>
        <% @collections.each do |collection| %>
          <div class="row coll">

            <div class="col-xs-5 col-sm-2 text-center info">
                <% if current_user && current_user.upvoted?(collection) %>
                  <%= button_to "watch!", upvote_collection_path(collection), method: :post, class: "btn btn-sm btn-success" %>
                <% elsif current_user %>
                  <%= button_to "watch!", upvote_collection_path(collection), method: :post, class: "btn btn-default" %>
                <% end %>


                <% if current_user && current_user.downvoted?(collection) %>
                  <%= button_to "meh", downvote_collection_path(collection), method: :post, class: "btn btn-sm btn-warning" %>
                <% elsif current_user %>
                  <%= button_to "meh", downvote_collection_path(collection), method: :post, class: "btn btn-default" %>
                <% end %>

                <div class="points">
                  <h3><%= collection.points %></h3>
                </div>

                <% if logged_in? && current_user.id == collection.user_id %>
                  <%= link_to "X", collection, class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>

                <% elsif logged_in? && current_user.id != collection.user_id %>
                  <% if @my_movies.where("movie_title = ?", collection.movie_title).first %>
                  <%= link_to "X", collection, class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>
                  <% else %>

                  <%= form_for :collection, url: {:controller => 'collections', :action => 'create'} do |t| %>

                  <%= t.hidden_field :user_id, :value => current_user %>
                  <%= t.hidden_field :movie_id, :value => collection.movie_id %>
                  <%= t.hidden_field :movie_title, :value => collection.movie_title %>
                  <%= t.hidden_field :movie_poster, :value => collection.movie_poster %>
                  <%= t.hidden_field :movie_year, :value => collection.movie_year %>
                  <%= t.hidden_field :movie_plot, :value => collection.movie_plot %>
                  <%= t.hidden_field :movie_runtime, :value => collection.movie_runtime %>
                  <%= t.hidden_field :movie_genre, :value => collection.movie_genre %>
                  <%= t.hidden_field :movie_metascore, :value => collection.movie_metascore %>
                  <%= t.hidden_field :movie_imdbRating, :value => collection.movie_imdbRating %>

                  <%= t.submit "+", :class => "btn btn-info" %>
                  <% end %>
                  <% end %>
                  <% end %>


            </div>

            <div class="col-xs-7 col-sm-4 colflix">
              <a href='/show?q=<%= collection.movie_id %>'>
                <img class="indiv" src="<%= collection.movie_poster %>" alt="<%= collection.movie_title %>">
              </a>
              <% if @flixlist.include?(collection.movie_title) %>
              <%= image_tag("netflixsq.png", class: "netflix-list") %>
              <% end %>
            </div>

            <div class="col-xs-12 col-sm-6 no-show">
              <h4 class="media-heading no-show"><%= collection.movie_title %></h4>
              <p><%= collection.movie_plot %></p>
              <p>Upvotes:
                <% @votes.each do |vote| %>
                  <% if collection.id == vote.collection_id && vote.upvote == 1 %>
                  <span class="name"><%= User.find(vote.user_id).name %></span>
                  <% end %>
                <% end %>
              </p>
              <p>Downvotes:
                <% @votes.each do |vote| %>
                  <% if collection.id == vote.collection_id && vote.downvote == 1 %>
                  <span class="name"><%= User.find(vote.user_id).name %></span>
                  <% end %>
                <% end %>
              </p>

              <% if !logged_in? %>
                <h5>Log in to add this to your movies!</h5>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="col-sm-3 col-md-3">
    <section>
      <h4>Browse other users' collections</h4>
      <ul>
        <% @users.each do |user| %>
        <li><a href="/collections/<%= user.id %>"><%= user.name %></a></li>
        <% end %>
      </ul>
    </section>
  </div>
</div>
