<div class="center">
  <h1>Movie#index</h1>
  <%= current_user.inspect %>
<p>Find me in app/views/movie/index.html.erb</p>

<%= form_tag("/index", method: "get") do %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>


<% @movies.each do |movie| %>

<a href='/show?q=<%= movie["imdbID"] %>'><img class="movie-img" src="<%= movie["Poster"] %>" alt="<%= movie["Title"] %>" /></a>


<% end %>
</div>
