
<h1>Movie#show</h1>
<p>Find me in app/views/movie/show.html.erb</p>


<div class="movie-container">
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="<%= @movie["Poster"] %>" alt="<%= @movie["Title"] %>" />
      </a>
    </div>
    <div class="media-body">
      <h1><%= @movie["Title"] %></h1>
      <h2><%= @movie["Year"] %></h2>
      <p><%= @movie["Plot"] %></p>
      <p><%= @movie["Runtime"] %></p>
      <p><%= @movie["Released"] %></p>
      <p><%= @movie["Genre"] %></p>
      <p><%= @movie["Director"] %></p>
      <p><%= @movie["Actors"] %></p>
      <p><%= @movie["Awards"] %></p>
      <p><%= @movie["Metascore"] %></p>
      <p><%= @movie["imdbRating"] %></p>
      <p><%= @movie["imdbVotes"] %></p>
      <p><%= @movie["imdbID"] %></p>
      <%= link_to('add to list', collection_index_path, :class => 'btn btn-large btn-info')  %>

      <%= form_for :collection, url: {:controller => 'collection', :action => 'create'} do |t| %>
      <%= t.hidden_field :movie_id, :value => @movie["imdbID"] %>
      <%= t.hidden_field :user_id, :value => current_user.id %>
      <%= t.submit "RSVP", :class => "btn-info" %>
      <% end %>

    </div>
  </div>


</div>
